.raj-1 {
  padding-top: 50px;
  color: #ffffff;
}

.raj-2 {
  padding-top: 50px;
  padding-bottom: 30px;
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 5px 2px #000000;
  letter-spacing: 3px;
}

.card {
  background: rgb(63,94,251);
background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
}

.card-title {
  color: #ffffff;
  font-weight: bold;
  text-align: center;

}
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
.card-text {
  color: #ffffff;
  font-weight: bold;
  font-family: 'Share Tech Mono', monospace;
}
.raj-3 {
  background: rgb(131,58,180);
background: -moz-linear-gradient(355deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(355deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(255,255,255,1) 100%);
background: linear-gradient(355deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#ffffff",GradientType=1);
}
.raj-4 {
  background: rgb(0,0,0);
background: -moz-linear-gradient(13deg, rgba(0,0,0,1) 0%, rgba(7,47,89,1) 14%, rgba(18,32,125,1) 37%, rgba(9,67,126,1) 69%, rgba(19,33,131,1) 77%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(13deg, rgba(0,0,0,1) 0%, rgba(7,47,89,1) 14%, rgba(18,32,125,1) 37%, rgba(9,67,126,1) 69%, rgba(19,33,131,1) 77%, rgba(0,0,0,1) 100%);
background: linear-gradient(13deg, rgba(0,0,0,1) 0%, rgba(7,47,89,1) 14%, rgba(18,32,125,1) 37%, rgba(9,67,126,1) 69%, rgba(19,33,131,1) 77%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}
