@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&family=Courgette&family=Rubik+Mono+One&display=swap');
.intro-2 {
    background: url("..img/photo-1512295767273-ac109ac3acfa.jpeg")no-repeat center center;
    background-size: cover;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
html,
body,
header,
.view {
    height: 100%;
}


body{
  background: rgb(85,219,237);
background: -moz-radial-gradient(circle, rgba(85,219,237,1) 0%, rgba(29,125,224,1) 33%, rgba(69,124,180,1) 42%, rgba(19,33,131,1) 72%, rgba(0,0,0,1) 100%);
background: -webkit-radial-gradient(circle, rgba(85,219,237,1) 0%, rgba(29,125,224,1) 33%, rgba(69,124,180,1) 42%, rgba(19,33,131,1) 72%, rgba(0,0,0,1) 100%);
background: radial-gradient(circle, rgba(85,219,237,1) 0%, rgba(29,125,224,1) 33%, rgba(69,124,180,1) 42%, rgba(19,33,131,1) 72%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#55dbed",endColorstr="#000000",GradientType=1);
}
