@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&family=Courgette&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
/* .intro-2 {
    background-image: url('/img/bg image header.jpg');
    background-size: cover;
} */
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
body{
    background-image: url(/img/background-1.jpg);
    /* background-size: auto; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: rgba(0,0,0,0.5); */
}


    
image-2{
    vertical-align: middle;
    border-style: none;
    /* max-width: 1000px; */
    width: 533px;
    margin-left: 236px;
    /* height: 100px; */
    max-height: 60vh;
}

.overlay{
    background-color: rgba(0,0,0,0.5); 
}
.container{
    margin-bottom: 15vh;
    
    margin: 0 !important;
    max-width:inherit;
    padding-bottom: 150px;
}
.img-fluid{
    max-width: 70%;
    height: auto;
    /* padding-left: 10px; */
    margin-left: 472px;
    max-height: 76vh;
}
img{
    vertical-align: middle;
    border-style: solid;
    height: 350px;
     
}
#card-img-top-1{
    max-height: 10px;
}
.centre{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;

  color: aliceblue;
  text-align: center;
}
#firstid{
    width: max-content;
    margin-left: 680px;
    border-radius: 10px;
}
#firstimage{
    max-width: 550px;
    
    width: 460px;
    margin-left: 13px;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: black;
    text-shadow: chartreuse;
    background-color: wheat;
    border-radius: 5px;
    width: 130px;
    margin-left: 685px;
    text-align: center;
    padding: 4px;
    border-style:  5px solid black;
}
}